
@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap')
* {
    margin: 0px;
}


:root {
    /* main UI color */
    --plyr-color-main: #b53535eb;
    /* audio controls background */
    --plyr-video-controls-background: rgba(0, 0, 0, 0.70);
    /* audio controls color */
    --plyr-video-control-color: rgb(255, 255, 255);

    --plyr-video-control-color-hover: black;

    --plyr-video-progress-buffered-background: silver;

    --plyr-video-range-track-background: #fc0000;
    
    --plyr-font-family: serif;
    --plyr-font-size-time: 32px;

    --plyr-tooltip-background: #b53535eb;
    --plyr-tooltip-color: rgb(0, 0, 0); 

    --plyr-control-icon-size: 32px;
}

h1 {
    text-align: center;
    font-family: "Alef", sans-serif;
    font-size: 62px;
    color: black;
    background-color:#ffffff;
    padding: 4px;
}

body {
    background-color: rgb(49, 46, 46);
}

div {
    padding-top: 15px;
}

h2 {
    text-align: center;
    margin: 20px;
    margin-bottom: 0px;
        padding: 15px;
        background-color: #ffffff;
        border: 5px black;
        border-style: double;
        font-size: 20px;
        font-family: "Alef", sans-serif;
}

p {
margin: 20px;
margin-bottom: 0px;
    padding: 15px;
    background-color: #ffffff;
    border: 5px black;
    border-style: double;
    font-size: 20px;
    font-family: "Alef", sans-serif;
 
}

img{
    display: flex;
    align-items: center;
}

footer {
    margin: 20px;
    margin-bottom: 0px;
        padding: 15px;
        background-color: #ffffff;
        border: 5px black;
        border-style: double;
        font-size: 20px;
        font-family: "Alef", sans-serif;
    }

    a:link, 
    a:visited {
      color: #000000; 
    }

a:hover, 
a:active {
  color: black;
}

figcaption {
   font-size: 20px;
   font-family: "Alef", sans-serif;
   }

#bio {
    display: flex;
    justify-content: center;
}


   #cast {
    display: flex;
    justify-content: center;
  }
  
  #cast figure {
    background: #ffffff;
   width: 350px;
    margin: 50px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbnail {
border: 10px solid #4e4e4e;
height: 300px;
width: 300px;
}  


/* Hide Initial */
.overlay {
    opacity: 0;
    transform: scale(0);
  }
  
  * {
    margin: 0px;
}

.overlay:target {
  opacity: 1;
  
  background: rgba(0, 0, 0, 0.699);
  height: 100vh;
  width: 100vw;
  
      /* stretch overlay to fill entire screen  */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  
    /* vertical and center align with Flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
   flex-direction: column;
  
  transform: scale(1);
  transition:
      opacity .5s,
      transform .5s; 
}